
<div class="form-group uploadpart">
	<label for="newfile" class="col-sm-3 control-label">
		<span class="col-sm-10"><f:translate key="tx_thdfilemanager_domain_model_txthdfilemanager.filelabel" /> :</span><span class="col-sm-2"><span class="filenr"></span></span>
	</label>
	<div class="col-sm-8 inputwrp">
		<f:form.upload property="file.1" class="uploadfile" />
	</div>
	<div class="col-sm-1 delbtnwp">
		<span class="btn uploadremvebtn actionbtn aktiviert" data-toggle="tooltip" data-placement="bottom" title="{f:translate(id: 'tx_thdfilemanager_domain_model_txthdfilemanager.removeuploadrow')}" >
				<span class="glyphicon glyphicon-minus" aria-hidden="true"> </span>
		</span>
	</div>
</div>	