

	
<div class="form-group">
	<label class="col-sm-3 control-label" for="username">
		<f:translate key="tx_thdfilemanager_domain_model_txthdfilemanager.username" /> *
	</label>
	<div class="col-sm-9">
		<f:form.textfield property="username" required="1" />
	</div>
</div>	
<div class="form-group">
	<label class="col-sm-3 control-label" for="password">
		<f:translate key="tx_thdfilemanager_domain_model_txthdfilemanager.password" /> *
	</label>
	<div class="col-sm-9">
		<f:form.password property="password" />
	</div>
</div>	
<div class="form-group">
	<label class="col-sm-3 control-label" for="mail">
		<f:translate key="tx_thdfilemanager_domain_model_txthdfilemanager.email" /> *
	</label>
	<div class="col-sm-9">
		<f:form.textfield property="email" required="1" />
	</div>
</div>	
<div class="form-group">
	<label class="col-sm-3 control-label" for="foldername">
		<f:translate key="tx_thdfilemanager_domain_model_txthdfilemanager.foldername" />&nbsp;&nbsp;
	</label>
	<div class="col-sm-9">
		<f:form.textfield property="foldername"  />
	</div>
</div>
